# Analysis of A/B test results for e-commerce website

## Objective

This work is an analysis of A/B test results provided provided from an e-commerce website to test the user response to a new webpage design.

The analysis aims to provide insights that help the decision makers in deciding whether to:
- Implement the new webpage,
- Keep the old webpage, or
- Expand the scope of the A/B testing

## The A/B Test Dataset

The dataset is provided in 2 sets.

Set 1: A/B test data

<center>

|Columns|Purpose|Valid values|
| ------------- |:-------------| -----:|
|user_id|Unique ID|Int64 values|
|timestamp|Time stamp when the user visited the webpage|-|
|group|In the current A/B experiment, the users are categorized into two broad groups. <br>The control group users are expected to be served with old_page; <br>Treatment group users are matched with the new_page. <br>However, **some inaccurate rows** are present in the initial data, such as a control group user is matched with a new_page. |`['control', 'treatment']`|
|landing_page|It denotes whether the user visited the old or new webpage.|`['old_page', 'new_page']`|
|converted|It denotes whether the user decided to pay for the company's product. Here, 1 means yes, the user bought the product.|`[0, 1]`|
</center>

Set 2: User countries
This set matches the user_id with the corresponding user country

## Part I - Data Wrangling

In [1]:
#imports

import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/home/moelinux/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('AB-testing-dataset/ab_data.csv')
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [3]:
df_countries = pd.read_csv('AB-testing-dataset/countries.csv')
df_countries.head()

   user_id country
0   834778      UK
1   928468      US
2   822059      UK
3   711597      UK
4   710616      UK

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

**Number of unique users:**

In [6]:
df['user_id'].nunique()

290584

**Proportion of users converted**:

In [7]:
df['converted'].mean()

0.11965919355605512

## Part II - Data Cleaning

**Missing values**

In [14]:
df.isnull().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

**Bad Data:**
- Number of times when the group is treatment but landing_page is not the new_page
- Number of times when the group is control but landing_page is the new_page

In [8]:
false1= df.query("group=='treatment' and landing_page !='new_page'")
len(false1)

1965

In [10]:
false2= df.query("group=='control' and landing_page !='old_page'")
len(false2)

1928

In [12]:
len(false1) + len(false2)

3893

**Removing bad data**

In [15]:
total_index=false1.index.union(false2.index)
total_index

Int64Index([    22,    240,    308,    327,    357,    490,    685,    713,
               776,    846,
            ...
            293817, 293888, 293894, 293917, 293996, 294014, 294200, 294252,
            294253, 294331],
           dtype='int64', length=3893)

In [16]:
df2= df.drop(total_index)

**Sanity check on bad data removal**

In [23]:
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

In [24]:
len(df2)

290585

**Removing duplicates**

In [26]:
df2['user_id'].nunique()

290584

In [27]:
df2['user_id'].duplicated().sum()

1

In [28]:
df2[df2['user_id'].duplicated()].user_id

2893    773192
Name: user_id, dtype: int64

In [29]:
df2[df2['user_id'].duplicated()]

      user_id                   timestamp      group landing_page  converted
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [30]:
df2= df2.drop_duplicates(subset="user_id")

In [31]:
df2[df2['user_id'].duplicated()]

Empty DataFrame
Columns: [user_id, timestamp, group, landing_page, converted]
Index: []